Repository MystenLabs/narwhal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @huitseeker, @kchalkias, @asonnino, @arun-koshy, @bmwill

[metrics] adding metrics for batch maker (#728)
  worker/src/batch_maker.rs
  worker/src/metrics.rs
  worker/src/tests/batch_maker_tests.rs
  worker/src/worker.rs
Owners: none

chore(rust): Bump toolchain to 1.62.1 (#713)
  rust-toolchain
Owners: none

crypto: expose verify with hashed message as input in library (#729)
  crypto/src/secp256k1.rs
  crypto/src/tests/secp256k1_tests.rs
Owners: @huitseeker, @kchalkias

refactor: convert all instances of anyhow to eyre (#732)
  .clippy.toml
  Cargo.lock
  consensus/Cargo.toml
  consensus/benches/process_certificates.rs
  crypto/Cargo.toml
  crypto/src/bls12377/mod.rs
  crypto/src/bls12381.rs
  crypto/src/ed25519.rs
  crypto/src/pubkey_bytes.rs
  crypto/src/secp256k1.rs
  network/Cargo.toml
  network/src/bounded_executor.rs
  network/src/lib.rs
  network/src/primary.rs
  network/src/worker.rs
  node/Cargo.toml
  node/src/benchmark_client.rs
  node/src/main.rs
  worker/Cargo.toml
  workspace-hack/Cargo.toml
Owners: @huitseeker, @kchalkias, @bmwill

feat: make the `TooOld` error more intelligible by mentioning the round target (#734)
  primary/src/core.rs
  types/src/error.rs
Owners: none

[crypto] zeroize bls12381 secrets (#733)
  crypto/src/bls12381.rs
  crypto/src/tests/bls12381_tests.rs
Owners: @huitseeker, @kchalkias

[fix] move & rename the dag size metric (#736)
  consensus/src/consensus.rs
  consensus/src/metrics.rs
Owners: none

chore: change end to end test run setup (#743)
  .github/workflows/nightly.yml
Owners: none

fix certificate waiter test (#742)
  primary/src/tests/certificate_waiter_tests.rs
Owners: none

ci: move rust build/test to ghcloud (#752)
  .github/workflows/rust.yml
Owners: none

update mysten-infra and typed-store to latest version to get latest rocksdb. That will eliminate warnings from Cargo-deny github action (#745)
  Cargo.lock
  consensus/Cargo.toml
  executor/Cargo.toml
  network/Cargo.toml
  node/Cargo.toml
  primary/Cargo.toml
  test_utils/Cargo.toml
  types/Cargo.toml
  worker/Cargo.toml
  workspace-hack/Cargo.toml
Owners: @asonnino, @bmwill

Input registry to restarter (#744)
  node/src/restarter.rs
  node/tests/reconfigure.rs
Owners: none

Update signature serde
  Cargo.lock
  crypto/Cargo.toml
  crypto/src/ed25519.rs
  crypto/src/tests/ed25519_tests.rs
Owners: @huitseeker, @kchalkias

fixup! Update signature serde
  node/tests/staged/narwhal.yaml
Owners: none

fix Ed25519Signature ser/de
  Cargo.lock
  crypto/Cargo.toml
  crypto/src/ed25519.rs
  crypto/src/tests/ed25519_tests.rs
  node/src/generate_format.rs
  node/tests/staged/narwhal.yaml
Owners: @huitseeker, @kchalkias

.github/CODEOWNERS:

/crypto/ @huitseeker @kchalkias
/executor/ @asonnino
/examples/ @arun-koshy
/network/ @bmwill
/config/tests/snapshots/ @huitseeker
/dag/ @huitseeker
